* {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif; }

h1, h2, h3, p {
  margin: 0; }

.section-inner {
  width: 1180px;
  margin: 0 auto; }

.section-header {
  color: #ffffff;
  background: url("../img/bg.png") no-repeat center center;
  background-size: cover;
  position: relative;
  margin-bottom: 120px; }
  .section-header .section-inner {
    height: 100vh;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column; }
  .section-header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #142729;
    opacity: 0.47; }
  .section-header-logo {
    font-weight: bold;
    font-size: 24px;
    flex-shrink: 1;
    padding-top: 35px; }
  .section-header-content {
    flex-grow: 1;
    display: flex;
    align-items: center; }
  .section-header-wrapper {
    margin: 0 auto; }
    .section-header-wrapper__title {
      text-align: center;
      font-weight: bold;
      font-size: 56px;
      line-height: 60px;
      padding-bottom: 16px; }
    .section-header-wrapper__subtitle {
      text-align: center;
      font-size: 18px;
      line-height: 32px;
      width: 67%;
      margin: 0 auto 44px; }
    .section-header-wrapper__form {
      display: flex; }
      .section-header-wrapper__form-input {
        flex: 1;
        padding-right: 40px; }
        .section-header-wrapper__form-input input {
          margin: 0;
          padding: 16px 20px;
          width: 100%;
          outline: none;
          border: none;
          border-radius: 4px;
          background: rgba(255, 255, 255, 0.25);
          color: #ffffff;
          font-size: 18px; }
          .section-header-wrapper__form-input input::-webkit-input-placeholder {
            color: #ffffff; }
          .section-header-wrapper__form-input input::-moz-placeholder {
            color: #ffffff; }
          .section-header-wrapper__form-input input:-ms-input-placeholder {
            color: #ffffff; }
          .section-header-wrapper__form-input input::-ms-input-placeholder {
            color: #ffffff; }
          .section-header-wrapper__form-input input::placeholder {
            color: #ffffff; }
      .section-header-wrapper__form-button button {
        padding: 16px 20px;
        margin: 0;
        border: none;
        border-radius: 4px;
        background: linear-gradient(to right, #fe985b, #fe4fa7);
        outline: none;
        font-size: 18px; }

.container {
  max-width: 1164px;
  margin: 0 auto; }

.main-content {
  display: flex;
  padding-bottom: 110px;
  border-bottom: 1px solid #6c6c6c; }
  .main-content .main-content-text-wrapper {
    width: 50%;
    margin-right: 40px; }
    .main-content .main-content-text-wrapper h2 {
      color: #414141;
      font-size: 36px;
      font-weight: 700;
      line-height: 51px;
      padding-bottom: 60px; }
    .main-content .main-content-text-wrapper h3 {
      color: #414141;
      font-size: 18px;
      font-weight: 700;
      padding-bottom: 15px; }
    .main-content .main-content-text-wrapper p {
      color: #6c6c6c;
      font-size: 16px;
      font-weight: 300;
      line-height: 28px;
      padding-bottom: 20px; }
  .main-content .main-content-video-wrapper {
    width: 50%;
    margin-left: 40px; }

.main-info {
  display: flex;
  justify-content: space-between;
  margin-top: 90px; }
  .main-info .main-info-item {
    width: 30%;
    text-align: center;
    margin-bottom: 130px; }
    .main-info .main-info-item img {
      width: 60px;
      height: 60px;
      margin-bottom: 20px; }
    .main-info .main-info-item h3 {
      color: #414141;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 15px; }
    .main-info .main-info-item p {
      color: #6c6c6c;
      font-size: 16px;
      font-weight: 300;
      line-height: 28px; }

.main-founder {
  background-color: #f6fafd;
  display: flex; }
  .main-founder .main-founder-foto {
    width: 44%;
    padding-top: 35px;
    text-align: right; }
    .main-founder .main-founder-foto img {
      width: 395px;
      height: 648px; }
  .main-founder .main-founder-info {
    width: 66%;
    align-self: center;
    padding-left: 55px; }
    .main-founder .main-founder-info .main-founder-info-text {
      max-width: 550px;
      color: #414141;
      font-size: 24px;
      line-height: 40px;
      padding-bottom: 40px; }
    .main-founder .main-founder-info .main-founder-info-name {
      color: #414141;
      font-size: 20px;
      font-weight: 400; }
      .main-founder .main-founder-info .main-founder-info-name span {
        font-size: 24px;
        font-weight: 700; }
