* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, p {
  margin: 0;
}

$color-white: #ffffff;

.section-outer {}
.section-inner {
  width: 1180px;
  margin: 0 auto;
}

.section-header {
  color: #ffffff;

  background: url("../img/bg.png") no-repeat center center;
  background-size: cover;

  position: relative;

  margin-bottom: 120px;

  .section-inner {
    height: 100vh;
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #142729;
    opacity: 0.47;
  }

  &-logo {
    font-weight: bold;
    font-size: 24px;
    flex-shrink: 1;
    padding-top: 35px;
  }

  &-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &-wrapper {
    min-width: 90%;
    margin: 0 auto;

    &__title {
      text-align: center;

      font-weight: bold;
      font-size: 56px;
      line-height: 60px;
      padding-bottom: 16px;
    }

    &__subtitle {
      text-align: center;

      font-size: 18px;
      line-height: 32px;
      width: 50%;
      margin: 0 auto 44px;
    }

    &__form {
      display: flex;

      &-input {
        flex: 1;
        padding-right: 40px;

          input {
            margin: 0;
            padding: 16px 20px;
            width: 100%;

            outline: none;
            border: none;
            border-radius: 4px;
            background: rgba(255, 255, 255, .25);

            color: $color-white;
            font-size: 18px;

            &::placeholder {
              color: $color-white;
            }
        }
      }

      &-button {
          button {
            padding: 16px 20px;
            margin: 0;

            min-width: 190px;

            border: none;
            border-radius: 4px;
            background: linear-gradient(to right, #fe985b, #fe4fa7);
            outline: none;

            font-size: 18px;
          }
      }
    }
  }
}

.container {
  max-width: 1164px;
  margin: 0 auto;
}

.main-content {
  display: flex;
  padding-bottom: 110px;

  border-bottom: 1px solid #6c6c6c;

  .main-content-text-wrapper {
    width: 50%;
    margin-right: 40px;

    h2 {
      color: #414141;
      font-size: 36px;
      font-weight: 700;
      line-height: 51px;
      padding-bottom: 60px;
    }

    h3 {
      color: #414141;
      font-size: 18px;
      font-weight: 700;
      padding-bottom: 15px;
    }

    p {
      color: #6c6c6c;
      font-size: 16px;
      font-weight: 300;
      line-height: 28px;
      padding-bottom: 20px;
    }
  }

  .main-content-video-wrapper {
    margin-left: 40px;
  }
}

.main-info {
  display: flex;
  justify-content: space-between;

  margin-top: 90px;

  .main-info-item {
    width: 30%;
    text-align: center;

    margin-bottom: 130px;

    img {
      width: 60px;
      height: 60px;

      margin-bottom: 20px;
    }

    h3 {
      color: #414141;
      font-size: 18px;
      font-weight: 700;

      margin-bottom: 15px;
    }

    p {
      color: #6c6c6c;
      font-size: 16px;
      font-weight: 300;
      line-height: 28px;
    }
  }
}

.main-founder {
  background-color: #f0f8fd;

  display: flex;

  .main-founder-foto {
    width: 44%;

    padding-top: 35px;

    text-align: right;

    img {
      width: 395px;
      height: 648px;
    }
  }

  .main-founder-info {
    width: 66%;

    align-self: center;

    padding-left: 55px;

    .main-founder-info-text {
      max-width: 550px;

      color: #414141;
      font-size: 24px;
      line-height: 40px;

      padding-bottom: 40px;
    }

    .main-founder-info-name {
      color: #414141;
      font-size: 20px;
      font-weight: 400;

      span {
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
}

.main-plans {
  margin: 120px auto 150px auto;
  text-align: center;

  .main-plans-title {

    h2 {
      color: #414141;
      font-size: 36px;
      font-weight: 700;
      line-height: 51px;

      padding-bottom: 20px;
    }

    p {
      color: #6c6c6c;
      font-size: 16px;
      font-weight: 300;
      line-height: 28px;

      margin: 0 auto;
      padding-bottom: 100px;

      max-width: 35%;

    }
  }

  .main-plans-items {
    display: flex;
    justify-content: center;

    padding-bottom: 150px;

    .main-plans-item {
      max-width: 32%;
      padding: 50px 45px 65px 45px;

      h3 {
        color: #414141;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;

        padding-bottom: 30px;
      }

      .main-plans-item-price {
        color: #fe4fa7;
        font-size: 72px;
        font-weight: 700;

        padding-bottom: 25px;

        span {
          color: #414141;
          font-size: 14px;
          font-weight: 700;
        }
      }

      .main-plans-item-title {
        color: #6c6c6c;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;

        padding-bottom: 45px;
      }

      .main-plans-item-button {
        padding: 16px 20px;
        margin: 0;
        min-width: 190px;
        border: 1px solid #6c6c6c;
        border-radius: 4px;
        background-color: #ffffff;
        outline: none;

        font-weight: 400;
        font-size: 18px;
        color: #414141;
      }

      .main-plans-item-button:hover {
        background: linear-gradient(to right, #fe985b, #fe4fa7);
        color: #ffffff;

        border: none;
      }
    }

    .main-plans-item:hover {
      background-color: #f0f8fd;
    }
  }
}

