* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, p {
  margin: 0;
}

$color-white: #ffffff;

.section-outer {}
.section-inner {
  width: 1180px;
  margin: 0 auto;
}

.section-header {
  color: #ffffff;

  background: url("../img/bg.png") no-repeat center center;
  background-size: cover;

  position: relative;

  margin-bottom: 120px;

  .section-inner {
    height: 100vh;
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #142729;
    opacity: 0.47;
  }

  &-logo {
    font-weight: bold;
    font-size: 24px;
    flex-shrink: 1;
    padding-top: 35px;
  }

  &-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &-wrapper {
    margin: 0 auto;

    &__title {
      text-align: center;

      font-weight: bold;
      font-size: 56px;
      line-height: 60px;
      padding-bottom: 16px;
    }

    &__subtitle {
      text-align: center;

      font-size: 18px;
      line-height: 32px;
      width: 67%;
      margin: 0 auto 44px;
    }

    &__form {
      display: flex;

      &-input {
        flex: 1;
        padding-right: 40px;

          input {
            margin: 0;
            padding: 16px 20px;
            width: 100%;

            outline: none;
            border: none;
            border-radius: 4px;
            background: rgba(255, 255, 255, .25);

            color: $color-white;
            font-size: 18px;

            &::placeholder {
              color: $color-white;
            }
        }
      }

      &-button {
          button {
            padding: 16px 20px;
            margin: 0;

            border: none;
            border-radius: 4px;
            background: linear-gradient(to right, #fe985b, #fe4fa7);
            outline: none;

            font-size: 18px;
          }
      }
    }
  }
}

.container {
  width: 1164px;
  margin: 0 auto;
}

.main-content {
  display: flex;

  border-bottom: 1px solid #6c6c6c;

  .main-content-text-wrapper {
    max-width: 50%;
    margin-right: 40px;

    h2 {
      color: #414141;
      font-size: 36px;
      font-weight: 700;
      line-height: 51px;
      padding-bottom: 60px;
    }

    h3 {
      color: #414141;
      font-size: 18px;
      font-weight: 700;
      padding-bottom: 15px;
    }

    p {
      color: #6c6c6c;
      font-size: 16px;
      font-weight: 300;
      line-height: 28px;
      padding-bottom: 20px;
    }
  }

  .main-content-video-wrapper {
    max-width: 50%;
    margin-left: 40px;
  }
}

